<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/add_task">
            <input type="text" name="task" placeholder="タスクを入力">
            <input type="submit" value="追加する">
        </form>
        <ul>
            <% items.forEach(function(item) { %>
            <li>
                <% if(item.isDone) { %>
                    &#10003;
                <% } %>
                <%= item.text %>
                <form method="POST" action="/check_task">
                    <input type="hidden" name="id" value="<%= item._id %>">
                    <input type="submit" value="チェックをつける/外す">
                </form>
                <form method="POST" action="/delete_task">
                    <input type="hidden" name="id" value="<%= item._id %>">
                    <input type="submit" value="削除する">
                </form>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
