<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/add_task">
            <input type="text" name="task" placeholder="タスクを入力" id="textbox"/>
            <input type="submit" value="追加する" class="button">
        </form>
        <ul>
            <% items.reverse(); items.forEach(function(item) { %>
            <li>
                <%= item.text %>
                <% if(item.isDone) { %>
                    &#10003;
                <% } %>
                <form method="POST" action="/check_task" class="check">
                    <input type="hidden" name="id" value="<%= item._id %>">
                    <input type="submit" value="チェックをつける/外す" class="button">
                </form>
                <form method="POST" action="/delete_task" class="delete">
                    <input type="hidden" name="id" value="<%= item._id %>">
                    <input type="submit" value="削除する" onclick="return confirm('削除してよろしいですか？');" class="button">
                </form>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
